<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centerd">Password Generator</h1>
      <div class="field">
        <label>Length</label><br/>
        <input type="text" class="input" (input)="onChange($any($event.target).value)">
      </div>
      <div class="field">
        <div class="control">
          <label class="chekbox">
            <input type="checkbox" (change)="onChangeLetters()">
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="chekbox">
            <input type="checkbox" (change)="onChangeNumbers()">
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="chekbox">
            <input type="checkbox" (change)="onChangeSymbols()">
            Use Symbols
          </label>
        </div>
      </div>
      <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" (click)="onButtonCick()" class="button is-link is-fullwidth">Generat!</button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input clas="input" [value]="getPassword()" type="text">
      </div>
    </div>
  </div>
</div>